# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.albionSCRAPER.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build artifacts
albionSCRAPER/bin/
albionSCRAPER/obj/

# JetBrains shelves (duże pliki tymczasowe)
.idea/shelf/
